spring:
  cloud:
    openfeign:
      client:
        config:
          default:
            logger-level: full
            connect-timeout: 1000
            read-timeout: 2000
          service-product:
            logger-level: full
            connect-timeout: 3000
            read-timeout: 5000

#\u8BBE\u7F6EopenFeign\u65E5\u5FD7
logging:
  level:
    org.mebius.order.feign: debug